@import "partials/vars";
@import "partials/mixins";
@import "partials/layout";
@import "partials/components";


header {
    .header-logo {
        max-height: 3rem;
    }
}

.bar {
    >.bar-racer {
        position: absolute;
        right:0;
        top: -30px;
        transition: right 1s linear;
        &.racing {
            right:100vw ;
        }
    }
    
}