@import "vars";
@import "mixins";

.fancyDisplay {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fancyDisplayShow {
    opacity: 1;
}

// containers
@each $size,
$margin in $margins {
    @for $i from 1 through 6 {
        .container-#{$size}-#{$i} {
            @include fancyContainer($margin, $i);
        }
    }
}

.text-horz-center {
    text-align: center;
}

#laptime-evolution {
    >.inputs {
        label:not(.checkbox-input) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            >input:not([type='checkbox']) {
                flex: 1 0 auto;
                width: calc(100% - 1rem);
                padding-left: 1rem;
            }
        }

        margin-bottom: $margin-xs;
    }

    #laptime-boxplot {
        .box {
            fill: $color-primary;

            &:hover {
                cursor: pointer;
            }
        }

        .horz-line {
            stroke: black;
        }

        .vert-line {
            stroke: black;
        }

        .avg-bullet {
            fill: $color-bg-primary;
            stroke: black;
        }

        .min-bullet {
            fill: $color-bg-primary;
            stroke: black;
        }

        transition: opacity 0.5s ease-out;
        opacity: 1;

        &.loading {
            opacity: 0;
        }
    }

    .loader-wrapper {
        position: absolute;
        top: calc(50% - 7rem);
        left: calc(50% - 5rem);

        display: flex;
        justify-content: center;

        #laptime-boxplot-loader {
            height: 14rem;
            opacity: 0;
            transition: opacity 0.5s ease-out;
            display: inline-block;

            &.loading {
                @keyframes fancyLoading {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(-1080deg);
                    }
                }

                animation: fancyLoading 6s infinite linear;
                opacity: 1;
            }

            >img {
                height: 5rem;

            }
        }
    }
}

#pitstop-evolution {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    >.inputs {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -$margin-sm/2;

        @include mobile() {
            flex-direction: column;
            margin: 0;
        }

        >div {
            flex: 1 0 auto;
            margin: $margin-sm/2;

            @include mobile() {
                flex-basis: 100%;
                margin: 0;
            }
        }

        #pitstop-coloring-radios {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            //margin: -$margin-xs/2;

            @include mobile() {
                justify-content: center;
            }

            >* {
                margin: $margin-xs/2;
            }

            >label {
                flex: 0 0 auto;
            }
        }

    }

    #pitstop-barchart {
        .pitstop-bar {}
    }
}

.select-wrapper {
    position: relative;
    $select-height: 2rem;
    $font-size: 1rem;

    >select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        background: lighten($color-primary, 30%); // darken($color-bg-primary,10%);
        border-radius: 0.5rem;
        width: 100%;
        height: $select-height;
        padding-left: $select-height/2;
        font-size: $font-size;
    }

    &::before {
        //font-family: fontello;
        content: "\f078";
        font-family: "Font Awesome\ 5 Free";
        font-weight: 900;
        font-size: $font-size;
        position: absolute;
        right: 1rem;
        top: $select-height / 2 - $font-size /2;
        pointer-events: none;
    }
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;

    //padding-left: 1rem;
    font-size: 1rem;
    background: lighten($color-primary, 30%);

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include mobile() {
        flex-direction: column;
    }

    >* {
        flex: 1 0 auto;
    }
}

.btn-read-more {
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 500;
    background-color: lighten($color-primary, 30%);
    color: black;

    >i {
        padding-left: $margin-xs/2;
    }
}

.wiki-text {
    text-align: justify;
}