$margins: (
    xs: 1rem,
    sm: 2rem,
    md: 4rem,
    lg: 8rem
);

$margin-xs: 1rem;
$margin-sm: 2rem;
$margin-md: 4rem;
$margin-lg: 8rem;

$color-primary: rgb(255, 64, 68);

$color-bg-primary: #fafafa;

