@import "partials/vars";
@import "partials/mixins";
@import "partials/layout";
@import "partials/components";

header {
    .header-logo {
        max-height: 3rem;
    }

    >h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

main > div{
    >* {
        flex: 1 1 auto;
    }

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    section {
        margin-bottom: $margin-sm;
    }


    

    .laptime-graph {
        position: relative;
    }


}